html { 
    font-family: sans-serif; 
    color:#000000;            
}

body {
    position:relative;
    width:100%;
    margin:0;
}

#tip {
    font-size:1.3em;
}

#wrapper {
    background:#000000;
    opacity: 0;    
    height:100%; 
    width:100%; 
    position:fixed; 
    top:0;
    left:0;    
    -webkit-transition: opacity 0.3s ease-out;
}

#wrapper.active {    
    opacity:0.75;
}

.card {        
    margin-top:11.5%;
    margin-left: 4em;
    margin-right: 4em;
    padding:2em;
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 1px rgba(0,0,0,0.2);
    border-radius: 3px;
    min-height:14em;
}

#title {  
    font-weight: bold; 
    font-size: 2.5em; 
    padding-bottom:0.25em;
    text-shadow: 0em 3px 5px rgba(0, 0, 0, 0.2);
}

#desc { 
    margin-top:1em; 
    margin-bottom:1em; 
    font-size:1.5em; 
}

a {    
    font-weight: bold;
}

#settings {  
    opacity: 0;
    margin:0;    
    z-index:0;
    position: absolute;    
    top:0;  
    right:0;   
    left:0;
    width:100%;
    padding:0;
}

.container .card {
    margin-top:0;
}

#settings.active {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-out;
}

#settings h1, #settings h2 {
    margin-top: 0;    
}

#github {
    margin-right:1em;
}

.settings-toggle i {        
    float:right;
    color: rgba(255,255,255,0.3); 
}

.settings-toggle i:hover {
    color: rgba(255,255,255,0.5); 
}

.card .settings-toggle i{
    margin-top:-0.75em;
}

ul.themes {
    padding-left:0;
    display:inline;    
}

ul.themes li {
    margin-right:1em;
    list-style: none;
    display: inline;
}

input#timeoutMins {
    width:3em;
}

div#settings div {
    margin-bottom:1em;
}

footer {    
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:4em;
    background:rgba(0,0,0,0.5);
}

footer div {
    margin:1em 2em;
}