html {    
    background:#121314;
    color:#FFFFFF;
}

.card {
   background:#222326;
}

#title, #settings h1 {
    color:#FFFFFF;
    border-bottom:4px solid #37BC9B; 
}


#desc, a, #settings-toggle i {
    color:#88898C;
}

a:hover, #settings-toggle i:hover {
    color:#FFFFFF;
}