html {
    color: rgba(0,0,0,0.8); 
    background:#E6E9ED;
}

.card {
   background:#FFFFFF;
}

#title, #settings h1 {
    border-bottom:4px solid #37BC9B; 
}

a, #settings-toggle i {
    color:#DA4453;
}

a:hover, #settings-toggle i:hover {
    color:#ED5565;
}

#desc {
    color:#434A54;
}

footer {
    background:rgba(0,0,0,0.8);
}