html {    
    background:#152438;
    color:#FFFFFF;
}

.card {
   background:#1B2E46;
}

#title {
    color:#FFFFFF;
    border-bottom:4px solid #35B7DE; 
}

#desc {
    color:#C2C2C2;
}

a {
    color:#DA4453; 
}

a:hover {
    color:#ED5565;
}

#settings-toggle i {
    color:#C2C2C2;
}

#settings-toggle i:hover {
    color:#FFFFFF;
}
