html {    
    background:#152438;
    color:#FFFFFF;
}

.card {
   background:#1B2E46;
}

#title, #settings h1 {
    color:#FFFFFF;
    border-bottom:4px solid #35B7DE; 
}

#desc, a, #settings-toggle i {
    color:#C2C2C2;
}

a:hover, #settings-toggle i:hover {
    color:#FFFFFF;
}
